<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bhatt.selfhelpher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".FirstWindows">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Courselib"
            android:parentActivityName=".FirstWindows" />

        <activity
            android:name=".CourseWindow"
            android:parentActivityName=".Courselib" />

        <provider
            android:name=".coursedatabase.CourseContentProvider"
            android:authorities="com.example.bhatt.selfhelpher"
            android:exported="false" />
        <provider
            android:name=".UserDatabase.UserContentProvider"
            android:authorities="com.example.bhatt.selfhelpher.UserDatabase"
            android:exported="false" />

        <activity
            android:name=".YoutubeVideo"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".Setting" />

        <receiver android:name=".Widget.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity android:name=".Widget.NewAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>